body{
    background-color: #5ce1e6;
}

.App-logo{
    margin: 0 auto;
    width: 250px;
    height: 250px;
}

.App-content img{
    display: flex;
    justify-content: center;
}

.App-title{
    font-size: 2em;
    color: rgb(65, 15, 15);
}
ul li a{
    text-decoration: none;
    font-size: 1.5em;
}
ul li{
    list-style: none;
}